*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
div{
    width: 100px;
    height: 100px;
    margin: 40px 30px;
    border: 1px solid #333;

    background-color: #ccc;
    transition-property: background-color,width,height,border-color;
    transition-duration: 2s;
}

div:hover{
    background-color: red;
    width: 120px;
    height: 120px;
    border-color: blue;
}
div:active{
    background-color: black;
}